/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$bg1: #0084ff;
$bg2: #8fbbe5;
$bg3: #b8cee3;
$bg4: #e6f3ff;
 
 
@import "bootstrap";
@import url("glyphicons.scss");
// Tableing fix
.fixed{
    display: table;
    width:100%;
    margin-left:0px;
    margin-right:0px;
}
.cell{
    display: table-cell;
    float: none;
    vertical-align:middle;
}
.center{
    text-align: center;
}
[class^="hidden"], [class*=" hidden"], .no-padding{
    padding: 0;
} 
//bgs
.bg1{
    background-color: $bg1;
}
.bg2{
    background-color: $bg2;
}
.bg3{
    background-color: $bg3;
}
.bg4{
    background-color: $bg4;
}
body{
    background-color: $bg4; 
}
.footer{
    position:absolute;
    bottom:0;
}
// pills restyle
.nav-link {
    background-color: lighten($bg1,20);
}

.nav-link.active{
    background-color: darken($bg1,20);
}

.float-right{
    float:right;
}
h1, h2, h3, h4, h5{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

// @media queries
// responsive padding
@media screen and (min-width: 1200px){
    [class^="col-lg"], [class*=" col-lg"]{
        padding: 0.6rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1119.999px){
    [class^="col-md"], [class*=" col-md"]{
        padding: 0.4rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 991.999px){
    [class^="col-sm"], [class*=" col-sm"]{
        padding: 0.2rem;
    }
}
@media screen and (max-width: 767.999px) {
    [class^="col-xs"], [class*=" col-xs"]{
        padding: 0.1rem;
    }
}


// correcting: font
@media screen and (max-width: 640px) {
    body{
        font-size: 0.9rem;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 480px) {
    body{
        font-size: 0.9rem;
    }
    h1 {
        font-size: 1.6rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    h5 {
        font-size: 1.15rem;
    }
}
@media screen and (max-width: 390px) {
    body{
        font-size: 0.75rem;
    }
    h1 {
        font-size: 1.3rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1.15rem;
    }
    h4 {
        font-size: 1.1rem;
    }
    h5 {
        font-size: 1.05rem;
    }
}
@media screen and (max-width: 340px) {
    body{
        font-size: 0.7rem;
    }
    h1 {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 1.1rem;
    }
    h3 {
        font-size: 1.1rem;
    }
    h4 {
        font-size: 1rem;
    }
    h5 {
        font-size: 1rem;
    }
}
@media screen and (max-width: 310px) {
    body{
        font-size: 0.6rem;
    }
    h1 {
        font-size: 1.1rem;
    }
    h2 {
        font-size: 1rem;
    }
    h3 {
        font-size: 1rem;
    }
    h4 {
        font-size: 0.95rem;
    }
    h5 {
        font-size: 0.95rem;
    }
    h6 {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 270px) {
    body{
        font-size: 0.5rem;
    }
    h1 {
        font-size: 1rem;
    }
    h2 {
        font-size: 0.9rem;
    }
    h3 {
        font-size: 0.9rem;
    }
    h4 {
        font-size: 0.85rem;
    }
    h5 {
        font-size: 0.85rem;
    }
    h6 {
        font-size: 0.8rem;
    }
}