<div class="row fixed">
    <div class="col-lg-2 col-md-1 col-sm-1 hidden-xs cell bg2 no-padding">
        <!--left-->
    </div>
    
    <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 cell bg1 no-padding">
        <!--center-->
        <ul class="nav nav-pills">
            <li class="active">
                <a href="#">
                        <h1>♪</h1> UtauDB
                </a>
            </li>
            <li><a href="#">Menu 1</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 3</a></li>
        </ul> 
    </div>
    
    <div class="col-lg-2 col-md-1 col-sm-1 hidden-xs cell bg2 no-padding">
        <!--right-->
    </div>
    
</div>
