<div class="row fixed">
    <div class="col-lg-2 col-md-1 col-sm-1 hidden-xs cell bg2 no-padding">
        <!--left-->
    </div>
    
    <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 cell bg1 no-padding">
        <!--center-->
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
    <div class="col-lg-2 col-md-1 col-sm-1 hidden-xs cell bg2 no-padding">
        <!--right-->
    </div>
    
</div>
